#app {
    padding-inline: 50px;
}

.input-box {
    margin-block: 20px;
    display: flex;
    gap: 5px;
}

.input-box > label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

.input-box .btn {
    height: 30px;
    line-height: 30px;
    background-color: lightgrey;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
    flex-grow: 1;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

#live video {
    width: 100%;
}
